html, body {
    min-height: 100vh;
   /* fallback for old browsers */
   background: #006d8f;
  
   /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to right, rgba(0,109,143,1), rgba(123,33,159,1));
 
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right, rgba(0,109,143,1), rgba(123,33,159,1))

}

.logo {
    grid: flex;
    position: center;

}

.btn-twitch {
    background-color: #6441a5;
    box-shadow: 0 4px 9px -4px #6441a5;
}

.btn-twitch:hover, .btn-twitch:focus {
    background-color: #5441a5;
    box-shadow: 0 4px 18px -4px #6441a5;
}

.btn-twitch:active {
    background-color: #4441a5;
}
